.output-block {
    width: 50%;
    height: auto;
    border: 1px solid black;
    background: aliceblue;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    font-size: large;
}

#log-block {
    width: 100%;
}